<html>
{% block main_content %}
<head>
<title>CERTIFICATE</title>
</head>
<body>
<a style="color: #006600 ;font-size:25px" href="{% url 'logout'%}">Log Out</a></div>
<div align="center"><TABLE width=800 align="center">
<TABLE borderColor=black border=3>
<TBODY>
<TR><TD width="100%" bgColor=#ffffff +90>
<CENTER><B>SCHOOL'S CHALLENGE QUIZ COMPETITION 2017-18 </B></CENTER>
<CENTER><STRONG>
<H1><FONT size=6>CERTIFICATE OF CHALLENGE QUIZ</H1></FONT></STRONG></CENTER>
<CENTER></CENTER><BR><img SRC="http://www.jamaicaobserver.com/assets/12810163/194223_.jpg"  hspace=50 vspace=3 align=left><BR><CENTER>
    <strong style="font-size:30pt;">{{ user.username }}</strong>
<H3><STRONG><FONT size=4>has satisfactorily completed</H3></CENTER></FONT>
    <CENTER><h1>Quiz With a score of : {{score}} Point</h1>
<H3><STRONG><FONT size=4>awarded by the</H3></CENTER></FONT>
<CENTER>
<H3><STRONG><FONT size=6>JONESACADEMY</H3></STRONG></CENTER></FONT>
<CENTER>
<H3><STRONG><FONT size=4>Oklahoma City, Oklahoma </H3></STRONG></CENTER>
<CENTER>
<H3><STRONG><FONT size=2><VAR>Accredited by the North Central Association of Colleges and Schools</VAR></H3></STRONG></CENTER></FONT><BR>
</TD></TR></TBODY></TABLE></TABLE></div></body>
{%  endblock %}
</html>
