<!DOCTYPE html>
{% block main_content %}
<html>
<head>
	<title>Quiz</title>
</head>
<header>
</header>
<h1 style="color:#CC0000; font-family:verdana; font-size:300%;text-align:center;">SCHOOL'S CHALLENGE QUIZ</h1>
<b><body style="color:#000066;background-image:url('http://previews.123rf.com/images/amasterpics123/amasterpics1231505/amasterpics123150500018/40257557-Abstract-question-mark-on-white-wall-background-Stock-Photo-question.jpg');font-family:courier; font-size:120%;">
<a style="color: #006600 ;font-size:25px" href="{% url 'logout'%}">Log Out</a></div>
<form action= 'answers/' method = "POST" >
    {% for question in questions %}       
<div class = 'question'>Q{{ question.question }} </div><br>
<div id= "choices" class='select'>
    <input type = "radio" name="{{question.id}}" value="{{question.choice_one}}">{{question.choice_one}}<br>
    <input type = "radio" name="{{question.id}}" value="{{question.choice_two}}">{{question.choice_two}}<br>
    <input type = "radio" name="{{question.id}}" value="{{question.choice_three}}">{{question.choice_three}}<br>
    <input type = "radio" name="{{question.id}}" value="{{question.choice_four}}">{{question.choice_four}}<br>
    <input type = "radio" name="{{question.id}}" value="{{question.choice_five}}">{{question.choice_five}}<br>
</div>
<br> 
    {% endfor %}
<div style="text-align:center"> <input style="padding: 10px 35px;font-size:120%;cursor: pointer;" type="submit" class="submit" id="submit" value="Submit"/></div>
    {% csrf_token %}
</form>
</body></b>
{% endblock %}
</html>
