<!DOCTYPE html>
{% block main_content %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Teacher Review{% endblock %}</title>
</head><h1 style="font-size:300%;color:#FFFF00;"class='h1'>SCHOOL'S CHALLENGE QUIZ</h1>
<body class='body' style="color:#99FF00;font-size:150%;background-image:url('https://lh3.googleusercontent.com/-IA_BrzFY_hA/VizLlVzH26I/AAAAAAAATE0/H_F94dsYnjk/w1920-h1080/Material%2BWallpaper_1434344602576.png')" >
<header>
    <a style="color: #fff555 ;font-size:25px" href="{% url 'logout'%}">Log Out</a></div>
    <h1>Teacher Review</h1>
    <hr>
{% for usrs in usr %}
    User Name : {{usrs.username}} <br>
    <br>score of {{usrs.username}} : {{score}}<br><hr><br>
{% endfor %}
</header>
  <main>
    {% block content %}
    {% endblock %}
  </main></body>
{% endblock %}
</html>
