<!DOCTYPE html>
<html>
<head>
	<title>LogOut</title>
</head>
<h1 style="font-size:300%;color:#FFFF00;"class='h1'>SCHOOL'S CHALLENGE QUIZ</h1>
<body style="color:#99FF00;font-size:150%;background-image:url('https://lh3.googleusercontent.com/-IA_BrzFY_hA/VizLlVzH26I/AAAAAAAATE0/H_F94dsYnjk/w1920-h1080/Material%2BWallpaper_1434344602576.png')">
<h1 >Logged out</h1>
<h3>You have been successfully logged out
<a style="color: #fff555; font-size:25px" href="{% url 'studlogin' %}"> Student Log in</a> and <a style="color: #fff555; font-size:25px" href="{% url 'teachlogin' %}">Teacher Log in</a> again.</h3>
</body>
</html>
